<launch>
  <node name="Mono" pkg="ORB_SLAM2" type="Mono"  args="ORBvoc.txt usb_camera.yaml" cwd="node" output="screen">
  </node>
    
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_raw"/>
    <param name="autosize" value="true" />
  </node>

  <node name="rosbag" pkg="rosbag" type="play"  args="/home/nubot/ORB_SLAM2/road1-20170104.bag" output="screen">
  </node>

</launch>
